@font-face {
    font-family: rickMorty;
    src: url(font/get_schwifty.ttf);
  }

*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    font-family: 'Yanone Kaffeesatz', sans-serif;
}

/* Background */

.background{
    width: 100%;
    height: 100vh;
    position:fixed;
    z-index: -100;
}

.background img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    filter: contrast(50%) blur(5px);
}

/* Title */

.title {
    text-align: center;
    text-shadow: 1px 1px 2px #ffffff;
}

.title h1 {
    padding: 30px 0;
    font-size: 70px;
}

/* Options */

.options {
    display: flex;
    align-content: center;
    justify-content: center;
    flex-wrap: wrap;
    background-color: rgba(94, 193, 206, 0.7);
    border: 1px solid black;
}

.options div{
    padding: 10px 0;
}

input[type=radio] { 
    margin-right: 5px;
    margin-top: auto;
    margin-bottom: auto;
    border: 0px;
    width: 15px;
    height: 15px;
}

.options label {
    margin-right: 30px;
    font-size: 20px;
    font-weight: 300;
}

/* Cards */

.cards {
    width: 100%;
    margin-top: 20px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.card {
    width: 250px;
    height: 250px;
    border: 1px solid black;
    margin: 25px;
    border-radius: 15px;
    display: flex;
    position: relative;
    overflow: hidden;
}

.card:hover{
    box-shadow: 1px 1px 5px 1px rgba(0, 0, 0, 0.4);
    cursor: pointer;
}

.cards .card .imageContainer {
    height: 100%;
    width: 100%;
}

.cards .card .imageContainer img {
    height: 100%;
    width: 100%;
    object-fit: cover;
}

.cards .card .imageContainer::after{
    content: '';
    width: 100%;
    height: 22%;
    background-color: rgba(0, 2, 2, 0.5);
    position: absolute;
    z-index: 1;
    bottom: 0;
    left: 0;
    border-top: 1px solid black;
}

.cards .card .infoContainer {
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: flex-end;
    position: absolute;
    z-index: 1;
}

.cards .card .infoContainer h2{
    padding: 0 5px;
    font-size: 25px;
    font-weight: 400;
    color: rgb(255, 255, 255);
    text-shadow: 1px 1px 0px #000000;
}

.cards .card .infoContainer :nth-child(2){
    font-size: 20px;
    font-weight: 300;
    padding-top: 4px;
    padding-bottom: 5px;
}

/* Loader */
.lds-ring {
    position: absolute;
    width: 80px;
    height: 80px;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%); 
  }
  .lds-ring div {
    box-sizing: border-box;
    display: block;
    position: absolute;
    width: 64px;
    height: 64px;
    margin: 8px;
    border: 8px solid #fff;
    border-radius: 50%;
    animation: lds-ring 1.2s cubic-bezier(0.5, 0, 0.5, 1) infinite;
    border-color: #fff transparent transparent transparent;
  }
  .lds-ring div:nth-child(1) {
    animation-delay: -0.45s;
  }
  .lds-ring div:nth-child(2) {
    animation-delay: -0.3s;
  }
  .lds-ring div:nth-child(3) {
    animation-delay: -0.15s;
  }
  @keyframes lds-ring {
    0% {
      transform: rotate(0deg);
    }
    100% {
      transform: rotate(360deg);
    }
  }
  